* {
    margin: 0;
    padding: 0;
}

body {
    font: 20px/2.0 "Lato","Helvetica Neue","PingFang-SC-Regular","STHeiti", "Helvetica","Arial","Verdana","sans-serif","Microsoft YaHei", arial, sans-serif;
    color: #333;
}

::selection {
    background: #222;
    color: white;
}

.header {
    margin-top:35px;
    margin-bottom:30px;
}

p {
    margin:30px 0;
    line-height:35px;
    color:#333;
    word-wrap: break-word;
    font-size:16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: #026ed2;
    text-decoration:none;
    font-weight: 550;

}

ul {
    margin:30px 0 0 5%;
}

ul li {
    font-size:16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.jory {
    position: relative;
    margin: 100px auto 0;
    width: 960px;
}

@media (max-width: 767px) {
    .jory {
        margin-top: 50px;
        width: auto;
    }
}


.menu {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
}

.menu a {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

.menu a:hover {
    border-bottom: 1px solid #333;
}

.menu a:active {
    top: 1px !important;
}

.menu a:first-child {
    margin-left: 0;
}

.sidebar {
    margin: 0 auto;
    margin: 0 20px;
}

.location {
    margin-top: 40px;
    text-align: center;
}
.location-text {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    line-height: 40px;
}

.relocating {
    opacity: 0;
    color: #ccc;
    font-size: 13px;
    text-align: center;
    transition: all .3s ease;
}

.content {
    display: none;
    position: relative;
    margin-left: 400px;
}

.close {
    position: absolute;
    top: -10px;
    right: 10px;
}

.fm-icon {
    font-size:25px;
    color:#666;
    margin:20px;
    cursor:pointer;
}
.fm-container {
    text-align: center;
    background: #efefef;
}

.process-bar {
    width: 0%;
    background: #999;
    height: 2px;
}

@media (max-width: 767px) {
    .jory-10086 {
        margin-left: -20px;
    }
}

@media (min-width: 769px) {
    .jory-10086 {
        margin-left: 100px;
    }
}