
body {
    font: 20px/2.0 "Lato","Helvetica Neue","PingFang-SC-Regular","STHeiti", "Helvetica","Arial","Verdana","sans-serif","Microsoft YaHei", arial, sans-serif;
    color: #333;
}


.jory {
    position: relative;
    margin: 100px auto 0;
    width: 960px;
}

@media (max-width: 767px) {
    .jory {
        margin-top: 50px;
        width: auto;
    }
}

.jory h2 {
    text-align: center;
    position: relative;
    opacity: 0.9;
}

.sidebar {
    margin: 0 auto;
    max-width: 500px;
}


@media (max-width: 767px) { 
    .sidebar {
        padding: 0 40px;
    }
}

[v-cloak] {
  display:none !important;
}